<div id="cadastrarServico" data-role="page">
  <div data-role="header" data-theme="b">
    <a href="#menu" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
    <h1>Cadastro de Serviço</h1>
  </div> 

  <form>
    <label for="inputNomeServico">Nome do Serviço:</label>
    <input type="text" name="inputNomeServico" id="inputNomeServico" placeholder="Nome do Serviço" value="">
    <div class="tamanhoValor">
    <label for="valorMinimo">Valor mínimo:</label>
    <input type="text" name="valorMinimo" id="valorMinimo" placeholder="Valor mínimo do serviço" value=""> 
    
    <label for="valorMaximo">Valor máximo:</label>
    <input type="text" name="valorMaximo" id="valorMaximo" placeholder="Valor máximo do serviço" value=""> 
    </div>

    <input type="button" id="btnCadServ" value="Confirmar">        
  </form>
</div>