<div id="exibirProduto" data-role="page">
  <div data-role="header" data-theme="b">
    <a href="#buscarProduto" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
    <h1>Dados do Produto</h1>
  </div> 

  <form>
    <label for="exibeNomeProduto">Nome do Produto:</label>
    <input type="text" name="exibeNomeProduto" id="exibeNomeProduto" placeholder="Nome do Produto" value="">

    <label for="exibeValidade">Data de validade:</label>
      <input type="date" data-clear-btn="false" name="exibeValidade" id="exibeValidade" value="">  
  
    <label for="exibeQuantidade">Quantidade:</label>
    <input type="text" name="exibeQuantidade" id="exibeQuantidade" placeholder="Quantidade" value=""> 
    
    <label for="exibeValorProduto">Valor:</label>
    <input type="text" name="exibeValorProduto" id="exibeValorProduto" placeholder="Valor do Produto" value="">

    <input type="button" data-inline="true" data-icon="delete" id="btnExcluirProd" value="Excluir">
    <input type="button" data-inline="true" data-icon="edit" id="btnAlterarProd" value="Alterar">
    <a href="#buscarProduto" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-inline" data-rel="back" >Cancelar</a>

  </form>
</div>