<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>SGSB</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.css" />
    <link rel="stylesheet" href="/js/jquery.mobile-1.4.5/jquery.mobile.theme-1.4.5.css" />
    
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>

<!-- Página de Login -->
    <div id="loginPage" data-role="page" data-dialog="true" data-close-btn="none">
      <div data-role="header" data-theme="b">
        <h1>Login</h1>
      </div>

      <div id="divLogin">
        <form>
          <label for="acessoLogin" >Login:</label>
          <input type="text" name="acessoLogin" id="acessoLogin" placeholder="Usuário" value="">

          <label for="acessoPassword">Senha:</label>
          <input type="password" name="acessoPassword" id="acessoPassword" placeholder="Senha" value="">

          <input id="btnLogin" type="button" value="Login">
        </form>
      </div>
    </div>

<!-- *********************************** -->
<!-- Página inicial -->
    <div id="menu" data-role="page">
      <div data-role="header" data-theme="b">
        <h1>Menu Principal</h1>
      </div>
      <div>
        <ul data-role="listview" data-inset="true" data-shadow="false">
          <li><a href="#agendamento">Agendamento</a></li>
          <li data-role="collapsible" data-iconpos="right" data-inset="true">
            <h2>Funcionário</h2>
            <ul data-role="listview" data-theme="b">
              <li><a href="#cadastrarFuncionario">Cadastrar</a></li>
              <li><a href="#buscarFuncionario">Buscar - Alterar - Excluir</a></li>
            </ul>
          </li>
          <li data-role="collapsible" data-iconpos="right" data-inset="true">
            <h2>Cliente</h2>
            <ul data-role="listview" data-theme="b">
              <li><a href="#cadastrarCliente">Cadastrar</a></li>
              <li><a href="#buscarCliente">Buscar - Alterar - Excluir</a></li>
            </ul>
          </li>
          <li data-role="collapsible" data-iconpos="right" data-inset="true">
            <h2>Produto</h2>
            <ul data-role="listview" data-theme="b">
              <li><a href="#cadastrarProduto">Cadastrar</a></li>
              <li><a href="#buscarProduto">Buscar - Alterar - Excluir</a></li>
            </ul>
          </li>
          <li data-role="collapsible" data-iconpos="right" data-inset="true">
            <h2>Serviço</h2>
              <ul data-role="listview" data-theme="b">
                <li><a href="#cadastrarServico">Cadastrar</a></li>
                <li><a href="#buscarServico">Buscar - Alterar - Excluir</a></li>
                <li><a href="#registrarServico">Registrar Serviço realizado</a></li>
              </ul>
          </li>
          <li data-role="collapsible" data-iconpos="right" data-inset="true">
            <h2>Relatórios</h2>
            <ul data-role="listview" data-theme="b">
              <li><a href="#relatorioAgendamentos">Agendamentos</a></li>
              <li><a href="#relAniversariantes">Aniversariantes</a></li>
              <li><a href="#relatorioAtendimentosFuncionario">Atendimentos por Funcionário</a></li>
              <li><a href="#relatorioAtendimentosGeral">Atendimentos - Geral</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
<!-- *********************************** -->

<!-- Página Agendamento -->

    <% include agendamento %>
    
<!-- *********************************** -->

<!-- Página Cadastrar Funcionário -->
    
    <% include cadastrarFuncionario %>

<!-- *********************************** -->

<!-- Página Buscar/Alterar/Excluir Funcionário -->

    <% include buscarFuncionario %>
    
<!-- *********************************** -->

<!-- Página exibir Funcionário -->

    <% include exibirFuncionario %>

<!-- *********************************** -->

<!-- Página Cadastrar Cliente -->

    <% include cadastrarCliente %>

<!-- *********************************** -->

<!-- Página Buscar/Alterar/Excluir Cliente -->
     <div id="buscarCliente" data-role="page">
      <div data-role="header" data-theme="b">
        <a href="#menu" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
        <h1>Busca Cliente</h1>
      </div> 

      <form class="ui-filterable">
        <input id="autocomplete-input-cli" data-type="search" placeholder="Nome do Cliente">
      </form>
      <ul id="autocomplete-cli" data-role="listview" data-inset="true" data-filter="true" data-input="#autocomplete-input-cli"></ul> 

    </div>
<!-- *********************************** -->

<!-- Página Exibir Cliente -->
    <% include exibirCliente %>

<!-- *********************************** -->

<!-- Página Cadastrar Produto -->
    <% include cadastrarProduto %>

<!-- *********************************** -->

<!-- Página Buscar/Alterar/Excluir Produto -->
     <div id="buscarProduto" data-role="page">
      <div data-role="header" data-theme="b">
        <a href="#menu" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
        <h1>Buscar Produto</h1>
      </div> 

      <form class="ui-filterable">
        <input id="autocomplete-input-prod" data-type="search" placeholder="Nome do Produto">
      </form>
      <ul id="autocomplete-prod" data-role="listview" data-inset="true" data-filter="true" data-input="#autocomplete-input-prod"></ul>
    </div>
<!-- *********************************** -->

<!-- Página Exibir Produto -->
    <% include exibirProduto%>

<!-- *********************************** -->

<!-- Página Cadastrar Servico -->
    <% include cadastrarServico %>

<!-- *********************************** -->

<!-- Página Buscar/Alterar/Excluir Servico -->
    <div id="buscarServico" data-role="page">
      <div data-role="header" data-theme="b">
        <a href="#menu" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
        <h1>Busca de Serviço</h1>
      </div> 

      <form class="ui-filterable">
        <input id="autocomplete-input-serv" data-type="search" placeholder="Nome do Serviço">
      </form>
      <ul id="autocomplete-serv" data-role="listview" data-inset="true" data-filter="true" data-input="#autocomplete-input-serv"></ul>
    </div>
<!-- *********************************** -->

<!-- Página Exibir Servico -->
    <div id="exibirServico" data-role="page">
      <div data-role="header" data-theme="b">
        <a href="#buscarServico" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
        <h1>Dados do Serviço</h1>
      </div> 

      <form>
        <label for="exibeNomeServico">Nome do Serviço:</label>
        <input type="text" name="exibeNomeServico" id="exibeNomeServico" placeholder="Nome do Serviço" value="">

        <div class="tamanhoValor">
          <label for="exibeValorMinimo">Valor mínimo:</label>
          <input type="text" name="exibeValorMinimo" id="exibeValorMinimo" placeholder="Valor mínimo do serviço" value=""> 
          
          <label for="exibeValorMaximo">Valor máximo:</label>
          <input type="text" name="exibeValorMaximo" id="exibeValorMaximo" placeholder="Valor máximo do serviço" value="">
        </div> 

        <input type="button" data-inline="true" data-icon="delete" id="btnExcluirServ" value="Excluir">
        <input type="button" data-inline="true" data-icon="edit" id="btnAlterarServ" value="Alterar">
        <a href="#buscarServico" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-inline" data-rel="back" >Cancelar</a>
      </form>
    </div>
<!-- *********************************** -->

<!-- Página Registrar Servico Realizado -->
    
    <% include registrarServico %>

<!-- *********************************** -->

<!-- Página Gerar Relatório de Agendamentos -->
    <div id="relatorioAgendamentos" data-role="page">
      <div data-role="header" data-theme="b">
        <a href="#menu" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
        <h1>Relatório de Agendamentos</h1>
      </div> 

      <div>
        <div class="notPrint">
          <div class="tamanhoData">
            <label for="raData">Data dos agendamentos:</label>
            <input type="date" data-clear-btn="false" name="raData" id="raData" value=""> 
          </div>

          <input id="btnRelAgen" type="button" value="Gerar">
        </div>
        <div data-role="content">
          <table data-role="table" id="tabelaRelAgendamento" data-mode="reflow" class="ui-body-d ui-shadow table-stripe ui-responsive">
          </table>
        </div>
      </div>
    </div>
<!-- *********************************** -->

<!-- Página Gerar Relatório de Aniversariantes -->
    <div id="relAniversariantes" data-role="page">
      <div data-role="header" data-theme="b">
        <a href="#menu" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
        <h1>Relatório de Aniversariantes</h1>
      </div> 
      
      <div>
        <div class="notPrint">
          <div class="tamanhoData">
            <label for="ranData">Data:</label>
            <input type="date" data-clear-btn="false" name="ranData" id="ranData" value=""> 
          </div>

          <input id="btnRelAniv" type="button" value="Gerar">
        </div>
        <div data-role="content">
          <table data-role="table" id="tabelaRelAniversariantes" data-mode="reflow" class="ui-body-d ui-shadow table-stripe ui-responsive">
          </table>
        </div>
      </div>
    </div>
<!-- *********************************** -->

<!-- Página Gerar Relatório de Atendimentos por Funcionário -->
    <div id="relatorioAtendimentosFuncionario" data-role="page">
      <div data-role="header" data-theme="b">
        <a href="#menu" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
        <h1>Relatório de Atendimentos por Funcionário</h1>
      </div> 

      <div>
        <div class="notPrint">
          <div class="tamanhoData">
            <label for="rafData">Data:</label>
            <input type="date" data-clear-btn="false" name="rafData" id="rafData" value=""> 
          </div>

          <label for="rafFuncionario">Nome do Funcionário:</label>
            <div class="ui-filterable">
              <input id="rafFuncionario" data-type="search" placeholder="Funcionário">
            </div>
            <ul id="autocompleteRafFuncionario" data-role="listview" data-inset="true" data-filter="true" data-input="#rafFuncionario"></ul>

          <input id="btnRelAtendFunc" type="button" value="Gerar">
        </div>
        <div data-role="content">
          <table data-role="table" id="tabelaRelAtendFunc" data-mode="reflow" class="ui-body-d ui-shadow table-stripe ui-responsive">
          </table>
        </div>
      </div>
    </div>
<!-- *********************************** -->

<!-- Página Gerar Relatório de Atendimentos por Funcionário -->
    <div id="relatorioAtendimentosGeral" data-role="page">
      <div data-role="header" data-theme="b">
        <a href="#menu" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back" ></a>
        <h1>Relatório de Atendimentos - Geral</h1>
      </div> 

      <div>
        <div class="notPrint">
          <div class="tamanhoData">
            <label for="ragData">Data:</label>
            <input type="date" data-clear-btn="false" name="ragData" id="ragData" value=""> 
          </div>

          <input id="btnRelAtendGeral" type="button" value="Gerar">
        </div>
        <div data-role="content">
          <table data-role="table" id="tabelaRelAtendGeral" data-mode="reflow" class="ui-body-d ui-shadow table-stripe ui-responsive">
          </table>
        </div>
      </div>
    </div>
<!-- *********************************** -->

    <script src="/js/jquery.js"></script>
    <script src="/js/funcionario.js"></script>
    <script src="/js/cliente.js"></script>
    <script src="/js/produto.js"></script>
    <script src="/js/servico.js"></script>
    <script src="/js/servicoRealizado.js"></script>
    <script src="/js/agendamento.js"></script>
    <script src="/js/relatorios.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"></script>
  </body>
</html>
